{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="Font-Awesome-4.7/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templatemo-style.css' %} ">
    
    <title>Linkdien Stuff</title>
<!--
Catalyst Template
http://www.templatemo.com/tm-499-catalyst
-->
</head>

<body>
    
    <div class="container">
        <section class="col-md-12 content" id="home">
           <div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg tm-logo-box">
             <!--  <i class="fa fa-snowflake-o fa-4x tm-logo"></i>
              <h1 class="text-uppercase">Catalyst</h1> -->
              <!-- <a href="#" class="fa fa-facebook"></a> -->
              <img src=" {% static 'images/lkd1.png' %} " style="border-radius: 10%;" height="150" width="150">
              <h2 class="main-title text-center dark-blue-text">Welcome to Linkdien API .</h2>
          
               
           </div>


           <!-- Anji -->


           <div class="col-lg-6 col-sm-1 content-item content-item-1 background tm-white-translucent-bg" style="height: 100px;" >
               <h2 style="margin-top: -50px" class="main-title text-center dark-blue-text">Linkdien Stuff</h2>
                <section class="col-md-12 content padding tm-equal-col-container" id="services">
        
       <div class="  tm-services-section-padding tm-box-center" style="margin-top: -20px;">

          <div class="tm-left-col-4">
            <div class="tm-border-box tm-gray-border-br tm-img-box-1">
              <img src="{% static 'images/like2.png' %} " alt="Image 1" height="200" width="200">
             </div>  
             <div class="tm-border-box tm-pink-border-bl tm-img-box-2">
              <img src="{% static 'images/Comments.png' %} " alt="Image 3"  height="200" width="200">
            </div> 
               
          </div>

          <div class="tm-right-col">
             <div class="tm-border-box tm-pink-border-tr tm-img-box-3">  
              <img src="{% static 'images/shr2.jpg' %}" alt="Image 2"  height="200" width="200">
             </div>
            <div class="tm-border-box tm-gray-border-tl tm-img-box-4">
              <img src="{% static 'images/shr8.png' %}" alt="Image 4"  height="200" width="200">
            </div>  
          </div>
                      
       </div>

      </section>
                          
           </div>
       </section>

      


<script>

// Write current year in copyright text.
  document.getElementsByClassName("tm-current-year").value = new Date().getFullYear();

</script>
</body>
</html>